* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.form-control{
  margin-bottom: 2vh;
}

.message{
  background-color: #e2e2e2;
  padding: 15px;
  margin-bottom: 2vh;
  margin-top: 2vh;
  border-radius: 20px;
}